.templates {
  display: none;
}
path {
  stroke-width: 4;
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round;
}
#EN,
#ON {
  stroke: orange;
}
#EV,
#OV {
  stroke: purple;
}
#bkg {
  fill: white;
  stroke: none;
}
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

fieldset {
  margin: 1em;
}
legend {
  font-weight: bold;
}
