@media print {
  .noPrint {
    display: none;
  }
  .row {
    margin-top: 10mm;
    width: 15cm;
  }
  .col {
    width: 37mm;
  }
  .espiral {
    width: 187mm;
  }
}
@media screen {
  .row {
    width: 100%;
  }
  .col {
    width: 25%;
  }
  .espiral {
    width: 50%;
  }
}
